{% extends 'base.html' %}
{% load static %}

{% block css %}<link href="{% static 'css/home.css' %}" type="text/css" rel="stylesheet">{% endblock %}

{% block content %}
    {% for blog in blogs.all %}
    <div class="box">
        <a href="{% url 'detail' blog.id %}">
            <div class="text">
                <p id="date"><strong>{{blog.pub_date}}</strong></p>
                <p id="title">{{blog.title}}</p>
            </div>
        </a>
        <div class="UD">
            <p><a href="{% url 'update' blog.id %}"><수정></a></p>
            <p><a href="{% url 'delete' blog.id %}"><삭제></a></p>
        </div>
    </div>
    <hr>
    {% endfor %}
{% endblock %}